<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Prices</title>
</head>
<body>
    <h1>Product Prices</h1>
    <form action="/" method="post">
        <label for="product_name">Enter Product Name:</label><br>
        <input type="text" id="product_name" name="product_name"><br>
        <input type="submit" value="Submit">
    </form>
    <h2>Amazon Price: {{ amazon_price }}</h2>
    <h2>flipkart price: {{ ebay_price }}</h2>
    <h2>Walmart Price: {{ walmart_price }}</h2>
</body>
</html>